---
title: Recipebox
---

<ul class="recipes">
  <% data.recipes.each do |recipe| %>
    <li class="recipe recipe--<%= recipe.photo.aspect %>">
      <h2><%= recipe.name %></h2>
      <img src="/images/<%= recipe.photo.file %>">
      <% if recipe.respond_to?(:source) %>
        <dl>
          <dt>Source</dt>
          <dd>
            <% if recipe.source.respond_to?(:url) %>
              <%= link_to(recipe.source.label, recipe.source.url) %>
            <% else %>
              <%= recipe.source %>
            <% end %>
          </dd>
        </dl>
      <% end %>
    </li>
  <% end %>
</ul>
